.body{
    margin: 0;  
    padding: 0;
    color: #202124;
    direction: ltr;
    font-family: "Roboto",arial,sans-serif;
    font-size: 15px;
}
.mainContainer{
    width: 50vw;
    height: 22vh;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    overflow: hidden;
    border-radius: 8px;
    transition-duration: 0.218s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input1{
    width: 95%;
    height: 33%;
    /* border: red solid; */
    display: flex;
    justify-content: space-between;
    /* align-self: flex-start; */
}
.title1{
    width: 70%;
    height: 100%;
    /* border: red solid; */
    display: flex;
    align-self: flex-start;
}
.pin{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    /* border: red solid; */
}
.input2{
    width: 95%;
    height: 33%;
    /* border: red solid; */
    display: flex;
    font-size: 12px;
}
.icons{
    width: 95%;
    height: 33%;
    /* border: red solid; */
    display: flex;
    justify-content: space-between;
}
.icons1{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: red solid; */
}
.close{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #202124;
    opacity: 0.9;

}