.bodysignin{
    width: 100vw;
    height: 110vh;
    /* border :solid red; */
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FormBody{
    width: 33vw;
    height: 83vh;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    /* border: solid red; */
}
.fundologo{
    width: 100%;
    /* border: red solid; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.f,.d{
    font-weight: bold;
    color:#1a73e8;
}
.u,.o2{
    font-weight: bold;
    color: red;
}
.n{
    font-weight: bold;
    color: yellow;
}
.o{
    font-weight: bold;
    color: green;
}

.signin{
    width: 100%;
    height: 9%;
    /* border: solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: sans-serif;
}
.user{
    width: 100%;
    height: 5%;
    /* border: solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.InputBox{
    width: 100%;
    height: 26%;
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 36px;
}
.InputEmail{
    width:85%;
    height: 50px;
    /* border: 1px solid #d3d3d3; */
    padding-left: 10px;
    border-radius: 5px;
    /* border: solid blue; */
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.InputPassword{
    width: 85%;
    height: 50px;
    /* border: 1px solid #d3d3d3; */
    border-radius: 5px;
    /* border: solid green; */
    font-size: 16px;
    padding-left: 10px;
    margin-top: 30px;
}
.forgot{
    width: 80%;
    height: 5%;
    /* border: solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    margin-top: 15px;

}
.forgotemail{
    width: 50%;
    height: 100%;
    /* border: solid green; */
    font-size: 14px;
    font-weight: bold;
    color:#4285F4;
    cursor: pointer;
}
.forgotpassword{
    width: 50%;
    height: 100%;
    /* border: solid green; */
    font-size: 14px;
    font-weight: bold;
    color:#4285F4;
    margin-left: 105px;
    cursor: pointer;
}
.bottomtext{
    width: 85%;
    height: 5%;
    /* border: solid red; */
    font-size: 14px;
    display: flex;
    align-items: center;
    align-self: center;
    /* margin-left: 50px; */
    margin-top: 20px;
    color : gray;
}
.bottomtext2{
    width: 20%;
    height: 5%;
    /* border: solid green; */
    font-size: 14px;
    font-weight: bold;
    color:#4285F4;
     margin-left: 30px;
     cursor: pointer;
}
.CreateAccountLogin{
    width:90%;
    height: 5%;
    /* border: solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    /* margin-left: 50px; */
}
.CreateAccountLink{
    width: 50%;
    height: 100%;
    /* border: solid green; */
    font-size: 14px;
    font-weight: bold;
    color:#4285F4;    
    margin-top: 5px;
    text-decoration: none;
    cursor: pointer;
}
.LoginButton{
    width: 20%;
    height: 150%;
     border: solid transparent;
    border-radius: 5px;
    background-color: #4285F4;
    font-size: 15px;
    font-weight: bold;
    color:white;
    margin-left: 105px;
}
.LoginButton:hover{
    background-color: blue;
}
.footer{
    width: 33vw;
    height: 10vh;
    /* border: solid red; */
    display: flex;
    flex-direction: row;
    margin-top: 4px;
}
.language{
    width: 40%;
    height: 70%;
    border:solid white;
    background-color: transparent;

}
.footercontent{
    width: 60%;
    height: 70%;
    /* border:solid green; */
    font-size: 14px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

@media screen and (min-width:320px) and (max-width:600px) {
    .InputEmail,.InputPassword{
        width: 80%;
    }
}